---
  - name: Make sure we have a 'wheel' group
    group:
      name: wheel
      state: present

  - name: Allow 'wheel' group to have passwordless sudo
    lineinfile:
      dest: /etc/sudoers
      state: present
      regexp: '^%wheel'
      line: '%wheel ALL=(ALL) NOPASSWD: ALL'
      validate: 'visudo -cf %s'

  - name: Add sudoers users to wheel group
    user:
      name=d.romashov
      groups=wheel
      append=yes
      state=present
      createhome=yes

  - name: Set up authorized keys for the deployer user
    authorized_key: user=d.romashov key="{{item}}"
    with_file:
      - ../files/id_rsa.pub

  - name: Set 'bash' as default shell for d.romashov user
    command: chsh -s /bin/bash d.romashov
