[Unit]
Description=Restrict Docker ports 9091/9100 (xray-exporter, node_exporter) to Alloy IP (sweden-node)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/3x-ui-metrics-firewall-docker-user.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
