services:
  backup:
    image: offen/docker-volume-backup:v2.48.0
    container_name: 3xui_backup
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: ${CLOUDFLARE_R2_API_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${CLOUDFLARE_R2_API_ACCESS_SECRET}
      AWS_S3_BUCKET_NAME: backups
      AWS_S3_PATH: "{{ fqdn }}"
      AWS_ENDPOINT: ${CLOUDFLARE_R2_S3_API}
      AWS_ENDPOINT_PROTO: https
      BACKUP_COMPRESSION: zst
      BACKUP_NAME: 3xui_db
      BACKUP_RETENTION_DAYS: 5
    volumes:
      - 3xui_db:/backup/3xui_db:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  3xui_db:
    external: true
    name: 3x-ui_3xui_db
