name: Deploy infrastructure to production
on:
  pull_request:
    branches:
      - 'master'
jobs:
  Deployment-Task:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          # Required, playbook filepath
          playbook: ./playbooks/server.yml
          # Optional, SSH private key
          key: ${{secrets.SSH_PRIVATE_KEY}}
          # Optional, galaxy requirements filepath
          requirements: requirements.yml
